h4 {
  color: #2b2b2b;
  font-weight: bold;
}

p {
  color: 	#969696;
}


#results {
  font-weight: bold;
  position: absolute;
  margin-top: -3%;
  margin-left: 20%;
}


#results .row {
  padding: 2% 2%;
  border-radius: 10px;
  border: none;
  background-color: white;
}

.location, .ip, .timezone {
  border-right: solid thin 	#969696;
}

@media (max-width: 480px) {
  h4 {
    font-size: 18px;
  }
  p {
    font-size: 14spx;
  }
  #results {
    margin-top: -40%;
    margin-left: 3%;
    text-align: center;
  }
  #results .row {
    padding: 8% 2%;
  }
  .location, .ip, .timezone {
    border-right: none;
      margin-bottom: 8%;
  }

}
